.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../images/IMG_2500.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 260px 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header a {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-decoration: none;
  background: white;
  color: rgba(0, 0, 0, 0.916);
}

@media (max-width: 576px) {
  header {
    padding: 60px 0;
  }
}
